/* Navbar */

.navbar .navbar-default {
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-nav {
    margin: 60px 0 0 0;
}

.navbar-header {
    padding: 10px;
    margin-top: 20px;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix+.container-fluid {
    padding-top: 70px;
}

.navbar-default .navbar-nav>li>a {
    color: #93842B;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #D6B131;
    background-color: #F8F8F8;
}

.nav>li>a {
    display: inline-block;
    text-transform: uppercase;
    transition: ease-in-out 1s;
}

.nav>li>a:hover {
    color: red;
}


.social-icons-nav .fa {
    font-size: 17px;
    color: #93842B;
}

.navbar-right {
    padding: 0;
    margin: 0;
}


/* Navbar */

/* Footer */

.footer {
    font-size: 12px;
    line-height: 1.4em;
    padding: 32px 40px 10px 40px;
    position: relative;
    background-color: #F7F8F8;
    color: #abafb2;
    height: 120px;
}

.footer-navigation {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

.menu-item {}




.footer .social-links {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 32px;
    right: 40px;
    text-align: right;
    width: auto;
}

.social-icons {
    display: inline-block;
    line-height: 18px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.fa {
    font-size: 16px;
    padding-right: 5px;
}

.share-links-title {
    font-size: 11px;
    padding-right: 15px;
    padding-bottom: 5px;
}

/* Footer */
