.content {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

span {
    font-family: 'Roboto Slab', serif;
}

.follow-us {
    font-family: 'Roboto Slab', serif;
}

.copyright {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    background-color: #172C54;
    border-radius: 0;
    margin-bottom: 0;
    z-index: 9999;
    line-height: 1.42857143 !important;
    border: none;
    height: 72px;
}

.navbar-default .navbar-nav>li>a {
    color: #DAB664;
    margin-top: 12px;
    font-family: 'Roboto Slab', serif;
}

.navbar-default .navbar-nav>li>a:hover {
    color: yellow;
}

.navbar-header {
    padding: 5px;
    margin-top: 6px;
}

.container-fluid>.navbar-collapse,
.container-fluid>.navbar-header,
.container>.navbar-collapse,
.container>.navbar-header {
    margin-left: 8px;
    background-color: #172C54;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: yellow;
    background-color: #172C54;
}

.social-icons-nav .fa {
    font-size: 15px;
    color: #EFD28D;
    transition: ease-in-out 400ms;
}

.social-icons-nav .fa:hover {
    color: yellow;
    cursor: pointer;
}

.navbar-default .navbar-toggle {
    border: none;
    margin-top: 3px;
    transition: ease-in-out 400ms;
    background-color: #172C54;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #DAB664;
}

.navbar-default .navbar-toggle:hover {
    background-color: #172C54;
}

.navbar-default .navbar-toggle .icon-bar:hover {
    background-color: yellow;
}

.navbar-toggle {
    background-color: #172C54;
}


.logo {
    width: 100px;
    height: 50px;
}

.social-icons .fa {
    transition: ease-in-out 400ms;
    color: #DAB664;
}

.social-icons .fa:hover {
    color: yellow;
    cursor: pointer;
}

.social-icons a {
    text-decoration: none;
}

.social-icons-nav a {
    text-decoration: none;
}

.text-center {
    background-color: #172C54;
    height: 80px;
    margin-top: 10px;
}

.social-icons {
    display: block;
    list-style: none;
    color: #EFD28D;
    letter-spacing: 14px;
    font-size: 14px;
    text-align: center;
    margin-bottom: 7px;
}

.follow-us {
    font-size: 11px;
    color: #fafafa;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 5px;
    margin-left: 17px;
}

.copyright {
    font-size: 9px;
    color: #DDDBDA;
    margin-left: 25px;
}

.portfolio-h1 {
    text-align: center;
    margin-top: 15px;
}

.caption-portfolio a {
    color: #DAB664;
    text-decoration: none;
}

.caption-portfolio {
    color: #DAB664;
    margin-bottom: 28px;
}

.portfolio-p {
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.block-divider-portfolio {
    width: 25px;
    height: 3px;
    background-color: #DAB664;
}

/* Navbar */

/* Slider */

.slider {
    padding: 0
}

/* Slider */

/* Used W3 Schools to get slider code */

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5%;
    color: #fafafa;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.project-images {
    margin-top: 10px;
}

.caption-project {
    font-size: 18px;
    color: #DAB664;
    margin-bottom: 30px;
}

.home-page-h1 {
    font-size: 18px;
    padding-left: 7px;
}

.home-image {
    display: inline-block;
    padding: 10px;
}

.home-page-p {
    padding-left: 7px;
}

.award-logo-houzz {
    width: 50px;
    height: 50px;
    margin-left: 8px;
}

.award-logo-buildaward {
    height: 50px;
    width: 100px;
}

.award-logo-igs {
    height: 50px;
    width: 100px;
    margin-bottom: -8px;
    margin-top: 5px;
}

.awards-h1 {
    text-align: center;
    font-size: 18px;
}

.btn-success {
    background-color: #172C54;
    border: none;
    color: #fafafa;
    margin-top: 10px;
}

.btn-success:hover {
    background-color: #172C54;
    color: #DAB664;
    transition: 500ms ease-in-out;
}

.btn-default {
    background-color: #172C54;
    border: none;
    color: #fafafa;
    transition: 500ms ease-in-out;
}

.btn-default:hover {
    background-color: #172C54;
    color: #DAB664;
    transition: 500ms ease-in-out;
}

.blog-p {
    font-size: 14px;
    margin-bottom: 20px;
}

.services-p-top {
    margin: 8px;
}

.services-h2 {
    text-align: center;
    margin-top: 35px;
}

.services-images {
    width: 100;
    height: auto;
    display: table;
}

.list-group {
    list-style: none;
}

.location {
    font-size: 20px;
}

.location-heading {
    margin-top: 40px;
}

.contact-h4 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.left-column-contact {
    margin-top: 10px;
}

.contact-item {
    margin-bottom: 30px;
    font-size: 16px;
}

.contact-item .fa {
    margin-right: 20px;
}

.block-divider-contact {
    width: 150px;
    margin-left: -5px;
}

.form-inline {
    margin-bottom: 30px;
}

.index-conbu-interior-design {
    padding: 5px;
}

.index-page-caption {
    text-align: center;
}



/* Media min-width 768px. Everything above the size of 768px, ex. a tablet */

@media (min-width: 768px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-left: 0;
        background-color: #172C54;
    }

    .navbar-header {
        margin-top: 8px;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 11px;
        letter-spacing: 2px;
    }

    .nav>li>a {
        display: inline-block;
        text-transform: uppercase;
        transition: ease-in-out 500ms;
    }

    .logo {
        width: 120px;
        height: 60px;
        margin-bottom: 10px;
    }
    .navbar {
        height: 90px;
    }
    .navbar-default .navbar-nav>li>a {
        color: #DAB664;
        margin-top: 22px;
    }
    .navbar-left {
        float: right!important;
        margin-right: -15px;
    }

    .social-icons {
        display: block;
        list-style: none;
        color: #EFD28D;
        letter-spacing: 14px;
        font-size: 14px;
        text-align: center;
        margin-bottom: 7px;
    }
    .text-center {
        background-color: #172C54;
        height: 80px;
        margin-top: 20px;
    }
    .btn-success {
        margin-top: 20px;
    }

    .follow-us {
        font-size: 11px;
        color: #fafafa;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 0;
        margin-left: 26px;
        margin-bottom: 5px;
    }
    .copyright {
        font-size: 9px;
        color: #DDDBDA;
        margin-left: 25px;
    }

    .caption-portfolio {
        color: #DAB664;
        font-size: 16px;
        margin-bottom: 18px;
    }

    .portfolio-h1 {
        text-align: center;
        margin-top: 25px;
    }

    .portfolio-p {
        text-align: left;
        margin: 25px 30px;
    }
    .block-divider-portfolio {
        width: 25px;
    }
    /* Used W3 Schools to get hover effect code */
    .imgage-in-portfolio-page {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .6s ease-in-out;
        backface-visibility: hidden;
    }

    .middle {
        transition: .6s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .portfolio-image:hover .imgage-in-portfolio-page {
        opacity: 0.3;
    }

    .portfolio-image:hover .middle {
        opacity: 1;
    }

    .portfolio-image-link {
        text-decoration: none;
        color: #fafafa;
        cursor: pointer;
    }
    .portfolio-image-link:hover {
        text-decoration: none;
        color: #DAB664;
        transition: .6s ease-in-out;
    }

    .portfolio-text {
        font-size: 16px;
        background-color: #172C54;
        padding: 16px 32px;
        margin-left: -30px;
        margin-bottom: 50px;
        text-align: left;
    }

    .caption-portfolio {
        color: #DAB664;
        font-size: 18px;
    }

    .caption-portfolio-link {
        text-decoration: none;
        color: #DAB664;
        cursor: pointer;
    }

    .caption-portfolio-link:hover {
        text-decoration: none;
        background-color: #172C54;
        color: #DAB664;
        transition: .6s ease-in-out;
    }

    .block-divider-portfolio {
        width: 25px;
        margin-bottom: 45px;
    }
    .project-images {
        margin-top: 50px;
    }
    .caption-project {
        font-size: 18px;
        color: #DAB664;
        margin-bottom: 20px;
    }
    .home-page-h1 {
        font-size: 22px;
    }
    .home-image {
        display: inline-block;
        padding: 10px;
    }

    .award-logo-houzz {
        width: 60px;
        height: 60px;
    }
    .award-logo-buildaward {
        height: 60px;
        width: 130px;
        margin-left: 7px;
    }
    .award-logo-igs {
        height: 60px;
        width: 130px;
        margin-bottom: -8px;
        margin-left: -20px;
    }
    .awards-h1 {
        float: left;
        font-size: 18px;
        margin-bottom: 20px;
        padding-left: 7px;
    }
    .imgage-in-mystory-page {
        margin: 20px;
    }
    .blog-p {
        font-size: 14px;
        margin-bottom: 30px;
        text-align: left;
    }
    .btn {
        margin-top: 15px;
    }
    .form-inline {
        text-align: center;
    }

    .services-h2 {
        text-align: center;
    }
    .services-p-top {
        margin-bottom: 25px;
    }

    .location-heading {
        margin-top: 30px;
        margin-left: 20px;
    }
    .location-image {
        margin-left: 4px;
    }
    .contact-h4 {
        margin-top: 35px;
        margin-bottom: 20px;
    }
    .left-column-contact {
        margin-top: 30px;
    }
    .block-divider-contact {
        width: 220px;
        margin-left: -5px;
        margin-right: 30px;
    }
    .contact-p {
        margin-left: 20px;
    }
}


/* Media min-width 992px. Everything above 992px. Ex. large tablet, laptop */

@media (min-width: 992px) {
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        margin-left: 20px;
        background-color: #172C54;
    }
    .navbar-header {
        margin-top: 10px;
    }
    .navbar {
        height: 130px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 12px;
        letter-spacing: 2px;
        color: #DAB664;
        margin-top: 42px;
    }

    .logo {
        width: 200px;
        height: 100px;
        padding: 0;
    }

    .social-icons-nav {
        float: right;
        margin-top: 56px;
        margin-right: 15px;
        margin-left: 20px;
        letter-spacing: 6px;
    }
    .navbar-left {
        float: left;
    }

    .text-center {
        background-color: #172C54;
        height: 102px;
        margin-top: 20px;
    }
    .btn-success {
        margin-top: 20px;
    }
    .follow-us {
        font-size: 13px;
        color: #fafafa;
        text-align: center;
        padding-top: 10px;
        margin-bottom: 8px;
        margin-left: 17px;
    }

    .social-icons {
        display: block;
        list-style: none;
        color: #EFD28D;
        letter-spacing: 14px;
        font-size: 20px;
        text-align: center;
        margin-bottom: 12px;
    }

    .copyright {
        font-size: 10px;
        color: #DDDBDA;
        margin-left: 25px;
        padding-bottom: 10px;
    }
    .portfolio-p {
        text-align: left;
        margin: 25px 57px;
        padding: 0;
    }


    /* Used W3 Schools to get hover effect code */
    .imgage-in-portfolio-page {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .6s ease-in-out;
        backface-visibility: hidden;
    }

    .middle {
        transition: .6s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }

    .portfolio-image:hover .imgage-in-portfolio-page {
        opacity: 0.3;
    }

    .portfolio-image:hover .middle {
        opacity: 1;
    }

    .portfolio-image-link {
        text-decoration: none;
        color: #fafafa;
        cursor: pointer;
    }
    .portfolio-image-link:hover {
        text-decoration: none;
        color: #DAB664;
        transition: .6s ease-in-out;
    }

    .portfolio-text {
        font-size: 16px;
        background-color: #172C54;
        margin-bottom: 50px;
        text-align: left;
    }

    .caption-portfolio {
        color: #DAB664;
        font-size: 18px;
    }

    .caption-portfolio-link {
        text-decoration: none;
        color: #DAB664;
        cursor: pointer;
    }

    .caption-portfolio-link:hover {
        text-decoration: none;
        background-color: #172C54;
        color: #DAB664;
        transition: .6s ease-in-out;
        padding: 10px;
    }

    .block-divider-portfolio {
        width: 25px;
        margin-bottom: 45px;
    }
    .project-image {
        padding: 5px;
    }
    .caption-project {
        font-size: 18px;
        color: #DAB664;
        margin-bottom: 30px;
    }
    .home-page-h1 {
        font-size: 28px;
    }

    .home-image {
        display: inline-block;
        padding: 10px;
    }

    .award-logo-houzz {
        width: 100px;
        height: 100px;
    }
    .award-logo-buildaward {
        height: 100px;
        width: 200px;
        margin-left: 7px;
    }
    .award-logo-igs {
        height: 120px;
        width: 200px;
        margin-bottom: -8px;
        margin-left: -20px;
    }
    .awards-h1 {
        font-size: 22px;
        margin-top: 60px;
        float: left;
        padding-left: 7px;
    }
    .index-conbu-interior-design {
        margin-left: 40px;
    }

    .imgage-in-mystory-page {}
    .blog-p {
        font-size: 14px;
        margin-bottom: 40px;
        text-align: left;
    }
    .btn {
        margin: 0;
    }

    .form-inline {
        text-align: center;
    }
    .container-fluid-blog {
        padding: 0;
    }

    .services-h2 {
        text-align: center;
    }
    .services-images {
        width: 100;
        height: auto;
        display: inline-table;
    }
    .services-p-top {
        margin-bottom: 45px;
    }

    .location-heading {
        margin-top: 40px;
        margin-left: 20px;
    }
    .location-image {
        margin-top: 20px;
    }
    .contact-h4 {
        margin-top: 50px;
        margin-bottom: 40px;
    }
    .left-column-contact {
        margin-top: 50px;
    }
    .block-divider-contact {
        width: 180px;
        margin-left: -5px;
        margin-right: 50px;
    }
    .form-inline {
        margin-bottom: 50px;
    }
    .contact-p {
        margin-left: 20px;
    }
    .contact-awards {
        margin-top: 50px;
        margin-left: 170px;
        margin-bottom: 30px;
    }

}
